# Build Folders (you can keep bin if you'd like, to store dlls and pdbs)
bin
obj

#resharper
_ReSharper.Nancy.LightningCache

#other
Nancy.LightningCache.v11.suo

# mstest test results
TestResults

# NuGet
packages